body {
    margin: 0;
    padding: 0;
}

.box {
    width: 32px;
    height: 32px;
    border: 1px solid #888888;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-rows: repeat(16, 31px);
    grid-template-columns: repeat(16, 31px);
}